@import "tailwindcss";

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #ec1313;
  --color-background-light: #f8f6f6;
  --color-background-dark: #181111;
  --color-card-dark: #271c1c;
  --color-card-border-dark: #392828;
  --color-text-muted-dark: #b99d9d;

  --color-surface-light: #ffffff;
  --color-surface-dark: #221010;
  
  --color-text-light: #1f2937;
  --color-text-dark: #f9fafb;
  
  --color-text-muted-light: #6b7280;
  
  --color-border-light: #e5e7eb;
  --color-border-dark: #392828;

  
  --font-display: var(--font-inter), sans-serif;
  
  --border-radius-DEFAULT: 0.5rem;
  --border-radius-lg: 0.75rem;
  --border-radius-xl: 1rem;
  --border-radius-full: 9999px;
}


body {
  color: var(--foreground);
  font-family: var(--font-inter);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

#mobile-menu-sidebar {
  transform: translateX(100%); 
}

#mobile-menu-toggle:checked ~ #mobile-menu-sidebar {
  transform: translateX(0);
}

#mobile-menu-toggle:checked ~ #mobile-menu-overlay {
  opacity: .5;
  visibility: visible;
}

.price-highlight {
    color: #ec1313;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}



/* estilos del formulario de contacto */

.form-input {
  background-color: #f0eeee;
  border-color: #e0dcdc;
  color: #374151;
  --tw-ring-color: #f36c6c;
}

.dark .form-input {
  background-color: #271c1c;
  border-color: #543b3b;
  color: #fff;
  --tw-ring-color: #ec1313
}

.form-input:focus {
  border-color: #ec1313
}

.form-input::placeholder {
  color: #9ca3af;
}

.dark .form-input::placeholder {
  color: #b99d9d
}

select.form-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem
}

.dark select.form-input {
  background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuCoj0a2LafOJc1R1TCA2346qHb1-NFmyjhci6x6Dzk8NwqcSIjS-EjRU3d3mNRRBSwvA6rmKXxUqErMM_1EcvKdtOkg21HBOaXS-22FMQQXLxbpPXv02GfGqHLpKIfVmzI81BAfIFW6CJLyuNUnii5jOEd4tThFTa2uZ9WKq14qPJL4_hfRR8JSi_Q775fmT4ZQj5nVquPRAVYllBrwbFq79tM37qHGIG3ObPrfpBnR4i_GwYI1aPvqaml_EljwvQ2lkNywxh0T95jK)
}

.btn-primary {
  background: linear-gradient(145deg, #ff3c3c, #c80a0a);
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.25), 0 4px 15px rgba(236, 19, 19, 0.4);
  transition: all 0.2s ease-in-out
}

.btn-primary:hover {
  background: linear-gradient(145deg, #ff4d4d, #da0b0b);
  transform: translatey(-2px);
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 6px 20px rgba(236, 19, 19, 0.5)
}

.form-error {
  @apply absolute -bottom-5 left-0 text-sm text-primary;
}