@import "tailwindcss";

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@theme {
  --color-primary: #ec1313;
  --color-background-light: #f8f6f6;
  --color-background-dark: #181111;
  --color-card-dark: #271c1c;
  --color-card-border-dark: #392828;
  --color-text-muted-dark: #b99d9d;
  
  --font-display: var(--font-inter), sans-serif;
  
  --border-radius-DEFAULT: 0.5rem;
  --border-radius-lg: 0.75rem;
  --border-radius-xl: 1rem;
  --border-radius-full: 9999px;

  /* IMPORTANTE: Incluye las directivas de Tailwind v4 */
  /* @import "tailwindcss/preflight";  
  @import "tailwindcss/components"; 
  @import "tailwindcss/utilities"; */
}


body {
  color: var(--foreground);
  font-family: var(--font-inter);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

#mobile-menu-sidebar {
  transform: translateX(100%); 
}

#mobile-menu-toggle:checked ~ #mobile-menu-sidebar {
  transform: translateX(0);
}

#mobile-menu-toggle:checked ~ #mobile-menu-overlay {
  opacity: .5;
  visibility: visible;
}

.price-highlight {
    color: #ec1313;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

/* .mobile-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
} */

/* A partir de md (768px), restauramos la grilla de 2 columnas */
/* @media (min-width: 768px) {
  .mobile-cols-1 {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
} */